@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Arial;
	text-align: center;
}
select {
	background-color: rgba(0,0,0,0.05);
	outline: none;
	padding: 5px;
}
table {
	display: inline-block;
	border-collapse: collapse;
	font-size: 1.25em;
	margin: 10px;
}
th {
	height: 70px;
}
td {
	width: 10em;
	height: 50px;
	color: red;
}
#line {
	background-color: #000;
	width: 100%;
	height: 1px;
}