h5
{
	font-family: Calibri;
}
h2
{
	font-family: Centaur;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
}
h1
{
	font-family: Arial;
}
div
{
   height: 200px;
   width: 1500px;
   border: #000000;
   background-color: #00FFFF;
   border-radius: 15px;
   margin: auto;
   text-align: center
}
a 
{
	text-decoration: none;
	color:#FFA500;
	text-align: center;
	margin: auto;
	font-family: Calibri;
	font-size: 20px;
}