p
{
	font-family: Calibri;
}
h4
{
	font-family: Times New Roman;
}
h3
{
    background-color: #00FFFF;
}
h2
{
	font-family: Centaur;
	text-align: center;
	color: #00FFFF;
}
h1
{
	font-family: Arial;
}
strong
{
	font-family: Arial;
}
span
{
	background-color: #FFFF00;
}
a 
{
	text-decoration: none;
	color:#FFA500;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
}