p
{
	font-family: Calibri;
}
h4
{
	font-family: Times New Roman;
}
h3
{
    background-color: #00FFFF;
}
h2
{
	font-family: Centaur;
}
h1
{
	font-family: Arial;
}
strong
{
	font-family: Arial;
}
span
{
	background-color: #FFFF00;
}