@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", arial;
    background-color: #ddd;
}

#top {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    position: fixed;
    font-weight: bold;
    text-align: center;
}
#top #time {
    float: left;
    font-style: italic;
    color: #fff;
}
#top a {
    margin: 10px;
    float: right;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

#about-closed {
    opacity: 0;
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
}
#about {
    color: #fff;
    opacity: 1;
    position: absolute;
    text-align: center;
    z-index: 2;
    height: 100%;
    width: 100%;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
}
#about h1 {
    text-decoration: underline;
    padding: 10px;
}
#about p {
    margin: auto;
    width: 50%;
    text-align: left;
}
#about i[class="fa fa-code"] {
    font-size: 9em;
}
#about i[class="fa fa-times-circle-o"] {
  color: #999;
  font-size: 3em;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.tabIndent {
  text-indent: 40px;
  padding: 10px;
}

#topic {
    background-color: rgba(0,0,0,0.1);
    padding: 50px 0px;
}
#topic h1 {
    text-align: center;
    font-weight: bold;
}
#topic p {
    text-align: center;
    font-weight:;
    margin: 15px;
}

#projects {
    border: 3px solid #000;
    width: 65%;
    margin: auto;
    text-align: center;
}
#projects legend {
    margin: auto;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 10px;
}
.project-links {
    font-weight: bold;
    font-style: italic;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 10px 0px;
    width: 80%;
    height: 35px;
    line-height: 35px;
    margin: auto;
    text-align: center;
}
.project-links:hover {
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
#projects a {
  text-decoration: none;
  color: #fff;

}



#projects a#codepen {
     background: none;
     padding: 0;
     margin: 0;
     color: navy;
}

#out-foot {
    position: relative;
    padding-bottom: 300px;
}
#footer {
    background-color: rgba(0,0,0,0.1);
    height: 300px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#footer h1 {
    text-align: center;
    padding: 10px;
}
#footer #line {
    width: 50%;
    margin: auto;
    border: 1px solid #000;
}
#footer a {
    text-decoration: none;
    color: navy;
}
#contacts a {
    text-decoration: none;
    color: black;
}
#contacts a:hover {
    color: #3C3CBC;
}


.typed-cursor {
    opacity: 1;
    position: absolute;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
