html {
    background-color: #FFFAFA;
}
div:hover {
    color: white;
}  
div {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #ABCDEF;
    text-align: center;
    color: #000000;
    font-family: Arial;
}
.active {
    background-color: #556677;
}