@import url(https://fonts.googleapis.com/css?family=Montserrat);

html::-webkit-scrollbar{
    border-radius: 10px;
} 
html::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 10px;
    position: relative;
    height: 10px;
} 
html::-webkit-scrollbar-button {
    background-color: #999;
}
html::-webkit-scrollbar-corner{
    background-color: #000;
}
::selection {
    background-color: #f4a460;
}
::-webkit-input-placeholder {
   color: #ABCDEF;
}
input {
  outline: none;
}
body {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
div[data="blur"] {
    background: rgba(0,0,0,0.7);
    z-index: -1;
    -webkit-filter: blur(3px); 
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.header {
    background-color: navy; 
    height: 40px; 
    list-style-type: none;  
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header > #float-right_for_input li {
    display: inline;
}
.header > * {
  display: inline;
}
#float-right_for_input {
    float: right;
    margin-right: 100px;
    margin-top: 0.4%;
}
.header input:not([type="submit"]) {
    padding: 3px 5px;
    border-radius: 3px;
    border: none;
}
.header input[type='submit'] {
    border: 3px solid #000;
    background-color: #FFA500;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    padding: 3px 15px;
}
.header #name {
    color: #ddd;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    padding: 20px;
    margin-right: 80px;
}
.menu {
    background-color: #000000;
    left: -290px;  
    height: 100%;
    position: fixed;
    margin-top: -0px;
    width: 285px;
    z-index: 10;
    border-right: 1px solid gray;
}
.menu ul {
    border-top: 1px solid #636366;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    border-bottom: 1px none #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    border-left: 14px solid #333;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-top: 4px;
    transition: all 400ms ease-in;
}
.menu li:nth-child(1) {
  margin-top: 10px;
}
.menu li:hover {
  cursor: pointer;
}
.menu li:nth-child(1):hover {
  border-left: 20px solid red;
  transition: all 400ms ease-out;
}
.menu li:nth-child(2):hover {
  border-left: 20px solid green;
  transition: all 400ms ease-out;
}
.menu li:nth-child(3):hover {
  border-left: 20px solid cyan;
  transition: all 400ms ease-out;
}
.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:  bold;
}
.menu a:hover {
    font-weight: bold;  
}
.menu a:active {
    text-decoration: underline;
}
.menu #create {
    color: #fff;  
    text-align: center;
    font-size: 10px;
    font-family: Verdana;
    line-height: 0px;
    border: 0px solid #fff;
    padding: 20px;
}
.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
}
.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-top: 75px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
}
.icon-menu i img:hover {
    background-color: cyan;
}
.icon-menu i img {
    margin-right: -1px;
    margin-top: 1px;
    background-color: #FFF;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid #FFFFFF;
}
.slide-move {
    margin: auto; 
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    background-color: #4c4c4c;
    opacity: 0.9;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 210px;
}
.slide-move .slider-dots {
    list-style-type: none; 
    display: inline; 
    margin: auto;
    position: relative;
}
.slide-move .slider-dots li {
    display: inline-block;
    color: gray;
    cursor: pointer;
    font-size: 35px;
}
.slider-dots li.active-dot {
    color: black;
}
.slide-move .back-arr {
    display: inline-block;
    margin-right: 20px;
}
.slide-move .for-arr {
    display: inline-block;
    height: 10px;
    margin-left: 50px;
}
.In1 {
    width: 400px;
    margin-top: 100px;
    margin-left: 450px;
    color: white;
    font-family: sans-serif;
    overflow: auto;
} 
.In2 {
    width: 400px;
    margin-top: 100px;
    margin-left: 450px;
    color: white;
    font-family: sans-serif;
    overflow: auto;
}
.slider {
    opacity: 0.9;
    height: 600px;
    background-color: black;
    z-index: 1;
    overflow: hidden;
    position: relative;
    margin-top: -20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none;   
}
.active-slide {
    display: block;
    padding-bottom: 1000px;
}
.slide2 {
    color: white;
    font-family: Calibri;
    font-weight: bold;
    padding-bottom: 1000px;
}
.slide3 {
    text-align: center;
    color: white;
    font-family: Calibri;
    padding-bottom: 1000px;
}
.slide3 h3 {
   font-size: 50px; 
   margin: 100px;
   font-family: Arial;
}
.slide3 img {
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: -100px;
}
#video_background {
    position: fixed;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}
#video_pattern {
    position: fixed;
    opacity: 0.6;
    background-color: rgba(0,0,0,.45);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}  
#audio {
    display: block;
    margin: auto;
    margin-top: -120px;
    margin-bottom: 50px;
    position: relative;
}
#calculator {
    opacity: 1;
    z-index: 1;
    background-color: #FFE4B5;
    width: 310px;
    height: 445px;
    border: 3px black solid;
    padding: 10px;
    position: relative; 
    margin-top: -250px;
    margin-left: 900px;
    border-radius: 10px;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQeut_wOzhNCh1D5fKg42scc6ojdbGJSTZiLFRJjKg49EYNi2U2");
    font-family: Arial;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none;    
}
#calculator a {
    opacity: 1;
    z-index: 2;
    display: block;
    float: left;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px #686868 , 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}
#calculator a:hover {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; 
}
#calculator a:active {
    top: 4px;
    position: relative;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease; 
}
#numbers a {
    width: 50px;
    height: 50px;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    background-color: #EDEDED;
}
#numbers a:hover {
    color: white;
    background-color: #87CEEB;
    box-shadow: 0px 4px blue, 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#numbers a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
#operators a {
    width: 44px;
    height: 45px;
    font-size: 39px;
    padding: 2px;
    margin: 5px 6px;
    background-color: #808080;
}
#operators a:hover {
    color: white;
    background-color: #696969;
    box-shadow: 0px 4px #282828 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#operators a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
#side {
    width: 49px;
    float: right;
}
#side a {
    width: 40px;
    height: 40px;
    float: right;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    background-color: #808080;
}
#side a:hover {
    color: white;
    background-color: #696969;
    box-shadow: 0px 4px #282828 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#side a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
a#equals {
    padding-top: 50px;
    height: 100px;
    background-color: #FFDEAD;
}
a#equals:hover {
    color: white;
    background-color: #FFA500;
    box-shadow: 0px 4px #FF4500 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
a#equals:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px; 
}      
a#clear, a#clearall {
    background-color: rgb(0, 0, 178);
}
a#clear:hover, a#clearall:hover {
    background-color: #000080;
}
#total {
    height: 60px;
    width: 290px;
    margin: auto;
    color: #000;
    background-color: white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 40px;
    padding: 0px 5px;
    border-radius: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSsTIciUf-hD1tA2bUpm3WUZuURN77sS36gLbAVmh6dgY04LxBG");
    background-repeat: no-repeat;
    background-size: cover;
}
#total::-webkit-scrollbar{
    cursor: pointer;
    border-radius: 10px;
    height: 10px;
} 
#total::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 10px;
    cursor: pointer;
    position: relative;
}
#color-changer {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    opacity: 0.9;
    border-top: 1px solid #fff;
    background-color: blue;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 30s; 
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: DarkCyan;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: DarkCyan;}
}
#content {
    border-top: 1px solid black;
    width: 100%;
    height: 1z00px;
    background-color: beige;
    margin-top: 0px;
    font-family: Comic Sans MS;
}
#content1 {
    border-top: 50px solid green;
    border-bottom: 50px solid green;
    background-color: lightGreen;
    height: 600px;
}
#content1 img {
    height: 300px;
    width: 300px;
    padding: 0px 0px 100px 500px;
    position: relative;
    bottom: 80px;
}
#content1 h1 {
    padding: 100px 0px 0px 950px;
}
#content1 p {
    text-align: left;
    padding: 0px 0px 0px 950px; 
    height: 10px;
    width: 500px;
    font-size: 20px;
}
#content1 p:first-line {
    font-weight: bold;
}
#footer {
    bottom: 0;
    background: repeating-linear-gradient(180deg, #666, #333);
    z-index: 2;
    height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid #000; 
}
#footer > li {
    display: inline;
}
#footer p {
    font-family: Arial;
    font-weight: bold;
    position: relative;
}
#helpful {
  position: absolute;
  float: left;
  margin-left: 20em;
  text-decoration: none;
}
#footer .link:hover {
    color: purple;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; 
}
#footer .link:active {
    text-decoration: underline;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 239px;
  background-color: #fff;
  border: solid 1px #333;
}
.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
}

.context-menu__item:last-child {
  margin-bottom: 0;
  border-bottom: 1px dotted #ddd;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  font-family: sans-serif;
  text-decoration: none;
  border-top: 1px dotted #ddd;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}
.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}

.context-menu__link:active {
  color: white;
  background-color: darkBlue;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}
#context-menu__a {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  font-family: sans-serif;
  text-decoration: none;
  border-top: 1px dotted #ddd;
  margin-top: -9px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}
#context-menu__a:hover {
  color: #fff;
  background-color: #0066aa;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}

#context-menu__a:active {
  color: white;
  background-color: darkBlue;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; 
}



#ask {
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", Arial;
    background-color: rgb(20,50,140);
    overflow: hidden;
    color: #fff;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}
.fa-times-circle-o {
  float: right;
  margin: 1%;
  color: red;
  position: relative;
  font-size: 50px;
}
fieldset {
    width: 50%;
    height: 10em;
    margin: auto;
    background-color: rgb(250,250,230);
    padding: 30px 0px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: -0.5px 3px 5px;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(100,100,100);
}
h1 {
    margin: 3% auto; 
    position: relative;
    font-size: 3em;
}