#calculator {
    opacity: 1;
    z-index: 1;
    background-color: #FFE4B5;
    width: 310px;
    height: 445px;
    border: 3px black solid;
    padding: 10px;
    position: relative; 
    margin: auto;
    border-radius: 10px;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQeut_wOzhNCh1D5fKg42scc6ojdbGJSTZiLFRJjKg49EYNi2U2");
    font-family: Arial;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none;    
}
#calculator a {
    opacity: 1;
    z-index: 2;
    display: block;
    float: left;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px #686868 , 0px 10px 15px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
}
#calculator a:hover {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; 
}
#calculator a:active {
    top: 4px;
    position: relative;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease; 
}
#numbers a {
    width: 50px;
    height: 50px;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    background-color: #EDEDED;
}
#numbers a:hover {
    color: white;
    background-color: #87CEEB;
    box-shadow: 0px 4px blue, 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#numbers a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
#operators a {
    width: 44px;
    height: 45px;
    font-size: 39px;
    padding: 2px;
    margin: 5px 6px;
    background-color: #808080;
}
#operators a:hover {
    color: white;
    background-color: #696969;
    box-shadow: 0px 4px #282828 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#operators a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
#side {
    width: 49px;
    float: right;
}
#side a {
    width: 40px;
    height: 40px;
    float: right;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    background-color: #808080;
}
#side a:hover {
    color: white;
    background-color: #696969;
    box-shadow: 0px 4px #282828 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
#side a:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px;
}
a#equals {
    padding-top: 50px;
    height: 100px;
    background-color: #FFDEAD;
}
a#equals:hover {
    color: white;
    background-color: #FFA500;
    box-shadow: 0px 4px #FF4500 , 0px 10px 15px rgba(0, 0, 0, 0.2);
}
a#equals:active {
    box-shadow: 0px 0px #FFFFFF;
    top: 4px; 
}      
a#clear, a#clearall {
    background-color: rgb(0, 0, 178);
}
a#clear:hover, a#clearall:hover {
    background-color: #000080;
}
#total {
    height: 60px;
    width: 290px;
    margin: auto;
    background-color: white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 40px;
    padding: 0px 5px;
    border-radius: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSsTIciUf-hD1tA2bUpm3WUZuURN77sS36gLbAVmh6dgY04LxBG");
    background-repeat: no-repeat;
    background-size: cover;
}
#total::-webkit-scrollbar{
    cursor: pointer;
    border-radius: 10px;
    height: 10px;
} 
#total::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 10px;
    cursor: pointer;
    position: relative;
}