    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", arial;
    }
    .top {
      background-image: url('../assets/homewallpaper.jpg');
    }
    nav {
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        position: fixed;
        font-weight: bold;
        height: 55px;
    }
    nav a {
        padding: 15px 0;
        text-decoration: none;
        color: white;
        margin-left: 30px;
    }
    nav a:hover {
        color: orange;
    }
    nav #home {
        float: left;
        font-style: italic;
    }
    nav a:not(#home){
        float: right;
    }
    .selected {
        color: orange;
    }
    .navbar-fixed-top.scrolled {
      background-color: rgba(0, 0, 0, 0.9) !important;
      transition: background-color 200ms linear !important;
    }
    #intro {
        padding: 4em 0px;
        color: white;
        text-align: center;
    }
    #intro span {
        font-weight: bold;
        font-size: 80px;
        color: rgb(84, 219, 240);
    }
    #intro p {
        font-weight: ;
        margin: 15px;
    }
    #content {
      font-size: 20px;
      margin: 50px 15% 15% 15%;
    }

    /*FOOTER*/
    #out-foot {
        position: relative;
        padding-bottom: 300px;
    }
    footer {
        background-color: rgba(0,0,0,0.1);
        height: 275px;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    footer h1 {
        text-align: center;
        padding: 10px;
    }
    footer #line {
        width: 50%;
        margin: auto;
        border: 1px solid #000;
    }
    #contacts a {
        color: black;
    }
    #contacts a:hover {
        color: #3C3CBC;
    }
    #blogs {
        margin: auto;
        overflow: auto;
        width: 75%;
        border: 2px solid black;
        font-family: "Arial";
        background-color: rgba(0,0,0,0.08);
        padding: 20px;
        border-radius: 5px;
    }
    #blogList {
        background-color: rgba(183,199,177,1);
        border-radius: 5px;
        padding: 0 2%;
        border: 3px solid blue;
        width: 20%;
        float: right;
    }
    #blogList h2 {
        font-style: italic;
    }
    #blogList a {
        /*text-decoration: none;*/
        color: #333;
    }
    .currentBlog, #blogList a:hover {
        color: red !important;
    }
    #blogMain {
        width: 70%;
        float: left;
    }
    #blogMain p {
        font-size: 15px;
    }
    