@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", arial;
  background-color: #333;
  overflow-x: hidden;
}
span {
  font-size: 5em;
  color: #fff;
}
#index {
  color: #fff;
  position: fixed;
  margin: auto;
  border: 1px solid #888;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0,0,0,0.8);
  right: 0;
  top: 5%; 
  width: 17%;
  text-align: center;
}
#index a {
  line-height: 2em;
  text-decoration: none;
  color: #fff;
}
.border-bottom {
  width: 100%;
  border: 1px solid #888;
}
fieldset {
  margin: 10px auto;
  text-align: center;
  width: 60%;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #000;
  background-color: #ddd;
}
legend {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #000;
  font-size: 20px;
  color: #ddd;
  font-weight: bold;
}
.collapse {
    display: none;
}
.collapse.in {
    display: inline-block;
}
.collapsing {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility;
}
caption {
  margin-bottom: 0.5em; 
}
input {
  border: 1px solid #000;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
input:focus {
  border-color: #000080;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
table {
  display: inline-block;
  border-collapse: collapse;
  padding: 10px;
  margin: 20px 1em;
}
table, td, th, tr {
  border: 1px solid #000;
}
td, th, tr {
  padding: 10px;
}
#line {
  width: 100%;
  border: 1px dashed #fff;
  background-color: #333;
}
#tuned {
  display: none;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
#tuned em {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
#bottom {
  position: fixed;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  bottom: 0;
  height: 30px;
  -webkit-user-select: none;         
  -moz-user-select: none; 
  -ms-user-select: none;    
}
#bottom * {
  margin-top: 5px;  
  font-size: 17px;
}
#reset {
  right: 1%;
  position: absolute; 
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(136,136,136,0.8);
  padding: 1px 10px;
}
#bottom em {
  left: 1%;
  font-size: 15px;
  position: absolute; 
  margin-top: 6.5px;
}
#bottom span {
  color: #fff;
}
#bottom em a { 
  text-decoration: none;
  color: #FFA500;
}
#bottom a:nth-child(2) {
  cursor: pointer;
  float: right;
  margin-right: 82px;
}
#bottom a:nth-child(3) {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
i[data='check'] {
  color: #8B4513;
}